RewriteEngine On
RewriteBase /php_launcher/

# Route requests to assets folder
RewriteCond %{DOCUMENT_ROOT}/assets/$1 -f
RewriteRule ^(.+) assets/$1 [L]

# Route requests to node_modules folder
RewriteCond %{DOCUMENT_ROOT}/node_modules/$1 -f
RewriteRule ^(.+) node_modules/$1 [L]

# Redirect anything else to index.php
RewriteCond %{REQUEST_URI} !^/static/ [NC]
RewriteRule ^ core/ [L,QSA]


RewriteRule ^$ /static [L]
